In [2]:
import pandas as pd
# 2차원 데이터 생성
# dict 타입으로 구성하여 2차원 데이터로 변환
data = {
  '이름':['강나래','강태원','강호림','김수찬','김재욱','박동현','박혜정','승근열'],
  '학교':['구로고','구로고','가산고','구로고','가산고','가산고','구로고','구로고'],
  '키':[197,184,168,187,188,202,188,190],
  '국어':[90,40,80,40,15,80,55,100],
  '영어':[85,35,75,60,20,100,65,85],
  '수학':[100,50,70,70,10,95,45,90],
  '사회':[85,25,75,80,10,80,35,95],
  'SW특기':['Python','Java','Javascript','','','C','Python','C#']
}

In [15]:
df = pd.DataFrame(data)

In [4]:
data
type(data)

dict

In [5]:
# dict 타입: 키를 활용하여 테이터를 출력
data['키']
data['SW특기']

['Python', 'Java', 'Javascript', '', '', 'C', 'Python', 'C#']

In [ ]:
#### dict 타입을 pandas -> DataFrame
# t = pd.Series(temp) # 1차원
df = pd.DataFrame(data) # 2차원 데이터
df

    이름   학교    키   국어   영어   수학  사회        SW특기
0  강나래  구로고  197   90   85  100  85      Python
1  강태원  구로고  184   40   35   50  25        Java
2  강호림  가산고  168   80   75   70  75  Javascript
3  김수찬  구로고  187   40   60   70  80
4  김재욱  가산고  188   15   20   10  10
5  박동현  가산고  202   80  100   95  80           C
6  박혜정  구로고  188   55   65   45  35      Python
7  승근열  구로고  190  100   85   90  95          C#

In [10]:
df['키']
df['이름']
df[['국어','이름']] # 2개 컬럼 출력 # 순서바꾸기도 가능
df[['이름','키','국어']] # 3개 컬럼 출력

    이름    키   국어
0  강나래  197   90
1  강태원  184   40
2  강호림  168   80
3  김수찬  187   40
4  김재욱  188   15
5  박동현  202   80
6  박혜정  188   55
7  승근열  190  100

In [11]:
# 컬럼 이름을 모두 확인
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '사회', 'SW특기'], dtype='object')

In [ ]:
# 데이터에서 특정컬럼만 뽑아서 가져올 수 있음
# 순서도 변경 가능
df = pd.DataFrame(data,columns=['학교','이름','SW특기'])
df

    학교   이름        SW특기
0  구로고  강나래      Python
1  구로고  강태원        Java
2  가산고  강호림  Javascript
3  구로고  김수찬
4  가산고  김재욱
5  가산고  박동현           C
6  구로고  박혜정      Python
7  구로고  승근열          C#