In [2]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  85      Python
2번    강태원  구로고  184   40   35   50  25        Java
3번    강호림  가산고  168   80   75   70  75  Javascript
4번    김수찬  구로고  187   40   60   70  80
5번    김재욱  가산고  188   15   20   10  10
6번    박동현  가산고  202   80  100   95  80           C
7번    박혜정  구로고  188   55   65   45  35      PYTHON
8번    승근열  구로고  190  100   85   90  95          C#

In [3]:
df['이름']
df[['이름','학교','키']]
df[['키','학교','이름']] # 순서 변경 가능

        키   학교   이름
지원번호
1번    197  구로고  강나래
2번    184  구로고  강태원
3번    168  가산고  강호림
4번    187  구로고  김수찬
5번    188  가산고  김재욱
6번    202  가산고  박동현
7번    188  구로고  박혜정
8번    190  구로고  승근열

In [ ]:
df = pd.read_excel('score.xlsx',index_col='지원번호')
df
df.describe() # 값이 숫자형인 것만 전부 출력
df['이름'].describe()  # 값이 문자형이면 최소,최대,편차 등은 출력되지 않음
df['국어'].describe()

count       8
unique      8
top       강나래
freq        1
Name: 이름, dtype: object

In [ ]:
df.head()
df.tail()
df.values
df.shape # 크기
df.columns
df['이름']
# df[0] # error # df[번호르는 검색 안됨]
df[df.columns[0]] # 1번째 컬럼 출력
df[df.columns[-1]] # 마지막 컬럼 출력
df.columns[-1] # 마지막 컬럼 이름
df.columns[0:3] # 0,1,2 까지 컬럼 이름을 가져옴
# df.info()

df['키'].min()
df['키'].max()
df['키'].mean()
df['키'].nlargest()
df['키'].nsmallest(3) # 기본은 5개 출력, () 안에 숫자 입력하면 그 숫자만큼 출력
df['학교'].unique() # 중복 
df['학교'].nunique() # 중복 제거 개수
df['SW특기'].count() # null 을 제외한 개수 6개
df['학교'].count() # 중복값이 없어서 8개
df['국어'].sum() # 중복값이 없어서 8개

Index(['이름', '학교', '키'], dtype='object')

In [ ]:
df.columns
df.columns[[0,3,-1]] # 0,3번째 그리고 마지막

Index(['이름', '국어', 'SW특기'], dtype='object')

In [ ]:
df[['이름','국어']]
df.columns[[1,3,5,-1]] # 1,3,5번째 그리고 마지막