In [92]:
import pandas as pd
import numpy as np
# df = np.read_excel('score.xlsx',index_col='no')

In [ ]:
df = pd.read_excel('연령별인구현황01.xlsx',index_col='행정기관',skiprows=3,nrows=2,usecols='B,E:Y')
# df.index    # index 이름 확인용

# 빈공백 제거
df.index[0].strip() # 출력 시에만 공백이 사라지고 실제로는 그대로 남아있음
# index 1번째 row 데이터 출력
df.loc[df.index[0]] #  = df.loc['전국  ']

# index 이름 변경
df.rename(index={df.index[0]:df.index[0].strip()},inplace=True) # 빈 공백 없애기
df
df.loc['전국']

In [ ]:
df.loc['전국'] = df.loc['전국'].str.replace(",","").astype(int)
df = df.T
df

In [43]:
df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,678966,1019087,1195436,1195498,1446090,1777534,1788146,1629589,2055022,1965092,...,2115365,2093694,1670380,1066316,760968,519583,231644,59761,9722,1473
서울특별시,"108,980","153,021","182,124","192,594","259,317","381,579","390,591","323,061","365,028","336,780",...,"344,390","337,863","285,721","191,666","143,645","97,437","40,546","10,299","1,873",330

In [ ]:
# 쉼표"," 가 있으면 문자열로 인식하기 때문에 ","를 없앤 후 int로 타입변경해서 넣기
df['0~4세']+df['5~9세'] # 위에서 "," 없애고 타입 변경(int) 했기 때문에 더하기 가능!

In [ ]:
df.describe()

In [ ]:
df['전국'].min()

In [93]:
### 이름변경
### 최대값, 최소값 in 출생아 수 출력
### 축 변경 

df = pd.read_excel('출산율2.xlsx',skiprows=2,nrows=2,index_col=0)
df.index.name = '목록'
df['2014'] # 세로방향(컬럼) 데이터
df.index.values
df.loc['출생아\xa0수'] # 1. 가로방향(index방향)
df.iloc[0]  # 2. 가로방향(index방향)
df.rename(index={'출생아\xa0수':'출생아수','합계\xa0출산율':'합계출산율'},inplace=True)
df.index.values
df

c:\Python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
목록,,,,,,,,,,
출생아수,435.400,438.400,406.200,357.800,326.800,302.700,272.300,260.600,249.10,230.00
합계출산율,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.78,0.72

In [ ]:

filt = (df['출생아수']>=300) & (df['합계출산율']>=1)
df[filt]

c:\Python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

KeyError: '출생아수'