In [33]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep='\t')
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [34]:
### item_name 그룹별로 개수 확인
df.groupby('item_name')['order_id'].count() # 그룹화를 해서 출력
df.groupby('item_name').value_counts().sort_values # 순차정렬

<bound method Series.sort_values of item_name          order_id  quantity  choice_description                                                                                                 item_price
6 Pack Soft Drink  129       1         [Sprite]                                                                                                           $6.49         1
                   148       1         [Diet Coke]                                                                                                        $6.49         1
                   154       1         [Coke]                                                                                                             $6.49         1
                   168       1         [Diet Coke]                                                                                                        $6.49         1
                   182       1         [Diet Coke]                                                                                                        $6.49         1
                                                                                                                                                                       ..
Veggie Soft Tacos  567       1         [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                                               $8.49         1
                   688       1         [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]  $11.25        1
                   948       1         [Roasted Chili Corn Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Lettuce]]                         $8.75         1
                   1132      1         [Roasted Chili Corn Salsa (Medium), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                    $8.49         1
                   1559      2         [Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Lettuce]]                                                  $16.98        1
Name: count, Length: 3335, dtype: int64>

In [10]:
df['item_name'].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [29]:
# items() item_name,개수를 tuple 형태로 리턴해줌
list(df['item_name'].value_counts().items())

[('Chicken Bowl', 726),
 ('Chicken Burrito', 553),
 ('Chips and Guacamole', 479),
 ('Steak Burrito', 368),
 ('Canned Soft Drink', 301),
 ('Chips', 211),
 ('Steak Bowl', 211),
 ('Bottled Water', 162),
 ('Chicken Soft Tacos', 115),
 ('Chips and Fresh Tomato Salsa', 110),
 ('Chicken Salad Bowl', 110),
 ('Canned Soda', 104),
 ('Side of Chips', 101),
 ('Veggie Burrito', 95),
 ('Barbacoa Burrito', 91),
 ('Veggie Bowl', 85),
 ('Carnitas Bowl', 68),
 ('Barbacoa Bowl', 66),
 ('Carnitas Burrito', 59),
 ('Steak Soft Tacos', 55),
 ('6 Pack Soft Drink', 54),
 ('Chips and Tomatillo Red Chili Salsa', 48),
 ('Chicken Crispy Tacos', 47),
 ('Chips and Tomatillo Green Chili Salsa', 43),
 ('Carnitas Soft Tacos', 40),
 ('Steak Crispy Tacos', 35),
 ('Chips and Tomatillo-Green Chili Salsa', 31),
 ('Steak Salad Bowl', 29),
 ('Nantucket Nectar', 27),
 ('Barbacoa Soft Tacos', 25),
 ('Chips and Roasted Chili Corn Salsa', 22),
 ('Izze', 20),
 ('Chips and Tomatillo-Red Chili Salsa', 20),
 ('Veggie Salad Bowl', 18),
 ('Chips and Roasted Chili-Corn Salsa', 18),
 ('Barbacoa Crispy Tacos', 11),
 ('Barbacoa Salad Bowl', 10),
 ('Chicken Salad', 9),
 ('Veggie Soft Tacos', 7),
 ('Carnitas Crispy Tacos', 7),
 ('Burrito', 6),
 ('Carnitas Salad Bowl', 6),
 ('Veggie Salad', 6),
 ('Steak Salad', 4),
 ('Crispy Tacos', 2),
 ('Bowl', 2),
 ('Salad', 2),
 ('Chips and Mild Fresh Tomato Salsa', 1),
 ('Veggie Crispy Tacos', 1),
 ('Carnitas Salad', 1)]

In [6]:
# 전체 item_name 개수 확인
df['item_name'].value_counts()
# index[0]: 1번째 리스트 제목을 출력
df['item_name'].value_counts().index[0]

'Chicken Bowl'

In [ ]:
df.columns
# 주문번호, 주문수량, 메뉴명, 추가옵션  메뉴별

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
# 메뉴별 주문 수량 체크
## 주문 평균 금액을 체크

In [35]:
# 주문 메뉴 Chicken Bowl 인 quantity 합계
df['item_name'].value_counts().head(3)
df[df['item_name'] == 'Chicken Bowl']['quantity'].sum()


df.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chicken Crispy Tacos                      50
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
# 총 주문 수량 출력
# df.shape
df['order_id'].unique()
len(df['order_id'].unique()) # 1834개 주문이 들어옴
# df['order_id']

0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64

In [39]:
## 주문 평균 금액 출력
# 1. item_price -> float 변환 후
df['item_price']=df['item_price'].str.replace("$","").astype(float) # 맨앞 $ 을 공백으로 변환 후 float 변환
# df['item_price']=df['item_price'].str[1:].astype(float) # 맨앞 $ 자르고 float 변환
# 2. order_id 그룹화
df.groupby('order_id')['item_price']
# 3. order_id 로 합계를 낸 후, 평균을 해야함
df.groupby('order_id')['item_price'].sum().mean()
# df.info()

np.float64(18.811428571428568)

In [37]:
# 각 아이템 별 가격 구하기
# 주문이 1개인 메뉴를 먼저 출력
# 순차정렬 (sort.values())
filt = df['quantity']==1
df[filt].groupby('item_name')[['item_price']].min()
# df[filt][['item_name','item_price']]
# df[filt][['item_name','item_price']].sort_values('item_price')

                                      item_price
item_name
6 Pack Soft Drink                         $6.49
Barbacoa Bowl                            $11.48
Barbacoa Burrito                         $11.08
Barbacoa Crispy Tacos                    $11.48
Barbacoa Salad Bowl                      $11.89
Barbacoa Soft Tacos                      $11.48
Bottled Water                             $1.09
Bowl                                      $7.40
Burrito                                   $7.40
Canned Soda                               $1.09
Canned Soft Drink                         $1.25
Carnitas Bowl                            $11.08
Carnitas Burrito                         $11.08
Carnitas Crispy Tacos                    $11.75
Carnitas Salad                            $8.99
Carnitas Salad Bowl                      $11.89
Carnitas Soft Tacos                      $11.75
Chicken Bowl                             $10.58
Chicken Burrito                          $10.58
Chicken Crispy Tacos                     $10.98
Chicken Salad                            $10.98
Chicken Salad Bowl                       $11.25
Chicken Soft Tacos                       $10.98
Chips                                     $1.99
Chips and Fresh Tomato Salsa              $2.29
Chips and Guacamole                       $3.89
Chips and Mild Fresh Tomato Salsa         $3.00
Chips and Roasted Chili Corn Salsa        $2.95
Chips and Roasted Chili-Corn Salsa        $2.39
Chips and Tomatillo Green Chili Salsa     $2.95
Chips and Tomatillo Red Chili Salsa       $2.95
Chips and Tomatillo-Green Chili Salsa     $2.39
Chips and Tomatillo-Red Chili Salsa       $2.39
Crispy Tacos                              $7.40
Izze                                      $3.39
Nantucket Nectar                          $3.39
Salad                                     $7.40
Side of Chips                             $1.69
Steak Bowl                               $11.08
Steak Burrito                            $11.08
Steak Crispy Tacos                       $11.75
Steak Salad                               $8.69
Steak Salad Bowl                         $11.89
Steak Soft Tacos                         $11.48
Veggie Bowl                              $10.98
Veggie Burrito                           $10.98
Veggie Crispy Tacos                       $8.49
Veggie Salad                              $8.49
Veggie Salad Bowl                        $11.25
Veggie Soft Tacos                        $11.25

In [24]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep='\t')

In [ ]:
# 한 주문당 20달러 이상 주문한 order_id 출력
df_s = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False)
filt = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False)>=20

df_s.loc[filt].count()

In [31]:
filt = df['item_name'] == 'Veggie Salad Bowl'
df.loc[filt].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

In [ ]:
# Chicken Salad Bowl 이 몇개 주문되었는지 출력
# 2개 이상 주문한 내역 - 13개
# filt = df['item_name'] == 'Chicken Salad Bowl'
filt = (df['item_name'] == 'Chicken Salad Bowl') & (df['quantity'] >1)
# df[filt]['quantity'].count() # 110
df[filt]['quantity'].count() # 13
# 주문 총수량
# df[filt]['quantity'].sum() # 123
# df[filt]['quantity'].sort_values(ascending=False).head(30)

np.int64(13)

In [ ]:
# Chicken Bowl 2개 이상 주문한 횟수 출력
filt = (df['item_name'] == 'Chicken Bowl') & (df['quantity']>1)
df[filt][['item_name','quantity']].count() # 총 33회 주문
df[filt][['item_name','quantity']].sort_values('quantity',ascending=False)
df[filt]['quantity'].sum() # 68 (합계)

# 총 주문수
# filt = df['item_name'] == 'Chicken Bowl'
# df[filt].count() # 726

np.int64(68)